%div{id: "svg-#{@twitter_id}"}

:javascript


  $(document).ready(function(){
    // Grokked from http://blockbuilder.org/mbostock/882152
    // and https://bl.ocks.org/mbostock/3887051
    var n = 20, // number of samples
    m = 4; // number of series

    var data = d3.range(m).map(function() { return d3.range(n).map(Math.random); });

    var margin = {top: 20, right: 30, bottom: 30, left: 40},
        width = 960 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;
    
    var y = d3.scaleLinear()
        .domain([0, 1])
        .range([height, 0]);
    
    var x0 = d3.scaleBand()
        .domain(d3.range(n))
        .range([0, width], .2);
    
    var x1 = d3.scaleBand()
        .domain(d3.range(m))
        .range([0, x0.bandwidth()]);
    
    var z = d3.scaleOrdinal(d3.schemeCategory10);
    
    var xAxis = d3.axisBottom()
        .scale(x0)
    
    var yAxis = d3.axisLeft()
        .scale(y)
        
    
    var svg = d3.select("#svg-#{@twitter_id}").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("svg:g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    
    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis);
    
    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);
    console.log(x1);
    console.log(x1.bandwidth());
    svg.append("g").selectAll("g")
        .data(data)
      .enter().append("g")
        .style("fill", function(d, i) { return z(i); })
        .attr("transform", function(d, i) { return "translate(" + x1(i) + ",0)"; })
      .selectAll("rect")
        .data(function(d) { return d; })
      .enter().append("rect")
        .attr("width", x1.bandwidth())
        .attr("height", y)
        .attr("x", function(d, i) { return x0(i); })
        .attr("y", function(d) { return height - y(d); });
        
    
    d3.csv("timeline_graph_data?t=" + Math.floor(Date.now() / 1000) + "&twitter_id=#{@twitter_id}", function(error, data) {
      if (error) throw error;
      console.log(data);
      var ageNames = d3.keys(data[0]).filter(function(key) { return key !== "State"; });

      data.forEach(function(d) {
        d.ages = ageNames.map(function(name) { return {name: name, value: +d[name]}; });
      });
    });
  });

  // TODOs
  // data.csv
  // manipulate to look like our desired chart
  // convert from JSON to 2D array?

