-# Grokked from http://bootsnipp.com/snippets/featured/timeline-single-column
.container
  .row
    %h2 Donald Trump's Tweet Reviews
  #wallmessages.qa-message-list
    #m16.message-item
      .message-inner
        .message-head.clearfix
          .avatar.pull-left
            %a{:href => "./index.php?qa=user&qa_1=Oleg+Kolesnichenko"}
              %img{:src => "https://ssl.gstatic.com/accounts/ui/avatar_2x.png"}/
          .user-detail
            %h5.handle Oleg Kolesnichenko
            .post-meta
              .asker-meta
                %span.qa-message-what
                %span.qa-message-when
                  %span.qa-message-when-data Jan 21
                %span.qa-message-who
                  %span.qa-message-who-pad by
                  %span.qa-message-who-data
                    %a{:href => "./index.php?qa=user&qa_1=Oleg+Kolesnichenko"} Oleg Kolesnichenko
        .qa-message-content
          Yo!
    #m9.message-item
      .message-inner
        .message-head.clearfix
          .avatar.pull-left
            %a{:href => "./index.php?qa=user&qa_1=amiya"}
              %img{:src => "https://ssl.gstatic.com/accounts/ui/avatar_2x.png"}/
          .user-detail
            %h5.handle amiya
            .post-meta
              .asker-meta
                %span.qa-message-what
                %span.qa-message-when
                  %span.qa-message-when-data Nov 24, 2013
                %span.qa-message-who
                  %span.qa-message-who-pad by
                  %span.qa-message-who-data
                    %a{:href => "./index.php?qa=user&qa_1=amiya"} amiya
        .qa-message-content
          Nice theme . Excellent one .
    #m7.message-item
      .message-inner
        .message-head.clearfix
          .avatar.pull-left
            %a{:href => "./index.php?qa=user&qa_1=russell"}
              %img{:src => "https://ssl.gstatic.com/accounts/ui/avatar_2x.png"}/
          .user-detail
            %h5.handle russell
            .post-meta
              .asker-meta
                %span.qa-message-what
                %span.qa-message-when
                  %span.qa-message-when-data Oct 25, 2013
                %span.qa-message-who
                  %span.qa-message-who-pad by
                  %span.qa-message-who-data
                    %a{:href => "./index.php?qa=user&qa_1=russell"} russell
        .qa-message-content
          Nullam porta leo vitae ipsum feugiat viverra. In sed placerat mi. Nullam euismod, quam in euismod rhoncus, tellus velit posuere tortor, non cursus nunc velit et lacus.
    #m6.message-item
      .message-inner
        .message-head.clearfix
          .avatar.pull-left
            %a{:href => "./index.php?qa=user&qa_1=juggornot"}
              %img{:src => "https://ssl.gstatic.com/accounts/ui/avatar_2x.png"}/
          .user-detail
            %h5.handle juggornot
            .post-meta
              .asker-meta
                %span.qa-message-what
                %span.qa-message-when
                  %span.qa-message-when-data Oct 24, 2013
                %span.qa-message-who
                  %span.qa-message-who-pad by
                  %span.qa-message-who-data
                    %a{:href => "./index.php?qa=user&qa_1=juggornot"} juggornot
        .qa-message-content
          Integer vitae arcu vitae ligula Cras vestibulum suscipit odio ac dapibus. In hac habitasse platea dictumst. Cras pulvinar erat et nunc fringilla, quis molestie
    #m5.message-item
      .message-inner
        .message-head.clearfix
          .avatar.pull-left
            %a{:href => "./index.php?qa=user&qa_1=one_eyed"}
              %img{:src => "https://ssl.gstatic.com/accounts/ui/avatar_2x.png"}/
          .user-detail
            %h5.handle one_eyed
            .post-meta
              .asker-meta
                %span.qa-message-what
                %span.qa-message-when
                  %span.qa-message-when-data Oct 24, 2013
                %span.qa-message-who
                  %span.qa-message-who-pad by
                  %span.qa-message-who-data
                    %a{:href => "./index.php?qa=user&qa_1=one_eyed"} one_eyed
        .qa-message-content
          Nulla dui ante, pulvinar ac auctor vitae, sollicitudin et tortor. Cras vestibulum suscipit odio ac dapibus. In hac habitasse platea dictumst. Cras pulvinar erat et nunc fringilla, quis molestie diam pulvinar.
    #m4.message-item
      .message-inner
        .message-head.clearfix
          .avatar.pull-left
            %a{:href => "./index.php?qa=user&qa_1=muboy"}
              %img{:src => "https://ssl.gstatic.com/accounts/ui/avatar_2x.png"}/
          .user-detail
            %h5.handle muboy
            .post-meta
              .asker-meta
                %span.qa-message-what
                %span.qa-message-when
                  %span.qa-message-when-data Oct 24, 2013
                %span.qa-message-who
                  %span.qa-message-who-pad by
                  %span.qa-message-who-data
                    %a{:href => "./index.php?qa=user&qa_1=muboy"} muboy
        .qa-message-content
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fermentum iaculis mi, non dapibus nulla eleifend sed. Etiam ac commodo leo.
          %br/
          Donec non sem id tellus mattis convallis. Morbi dapibus nulla ac dui lacinia,
    #m3.message-item
      .message-inner
        .message-head.clearfix
          .avatar.pull-left
            %a{:href => "./index.php?qa=user&qa_1=monu"}
              %img{:src => "https://ssl.gstatic.com/accounts/ui/avatar_2x.png"}/
          .user-detail
            %h5.handle monu
            .post-meta
              .asker-meta
                %span.qa-message-what
                %span.qa-message-when
                  %span.qa-message-when-data Oct 24, 2013
                %span.qa-message-who
                  %span.qa-message-who-pad by
                  %span.qa-message-who-data
                    %a{:href => "./index.php?qa=user&qa_1=monu"} monu
        .qa-message-content
          Suspendisse varius mi consectetur nulla volutpat, nec fermentum turpis vehicula. Curabitur dapibus odio mauris, vitae accumsan sapien auctor non. Duis tempus ante id nulla vestibulum mattis.
    #m2.message-item
      .message-inner
        .message-head.clearfix
          .avatar.pull-left
            %a{:href => "./index.php?qa=user&qa_1=Fynn"}
              %img{:src => "https://ssl.gstatic.com/accounts/ui/avatar_2x.png"}/
          .user-detail
            %h5.handle Fynn
            .post-meta
              .asker-meta
                %span.qa-message-what
                %span.qa-message-when
                  %span.qa-message-when-data Oct 24, 2013
                %span.qa-message-who
                  %span.qa-message-who-pad by
                  %span.qa-message-who-data
                    %a{:href => "./index.php?qa=user&qa_1=Fynn"} Fynn
        .qa-message-content
          Nunc ante neque, feugiat at dictum ut, dignissim sed sapien. Pellentesque congue eu nisl sit amet cursus. Integer dapibus adipiscing metus ac vehicula. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    #m1.message-item
      .message-inner
        .message-head.clearfix
          .avatar.pull-left
            %a{:href => "./index.php?qa=user&qa_1=admin"}
              %img{:src => "https://ssl.gstatic.com/accounts/ui/avatar_2x.png"}/
          .user-detail
            %h5.handle admin
            .post-meta
              .asker-meta
                %span.qa-message-what
                %span.qa-message-when
                  %span.qa-message-when-data Oct 24, 2013
                %span.qa-message-who
                  %span.qa-message-who-pad by
                  %span.qa-message-who-data
                    %a{:href => "./index.php?qa=user&qa_1=admin"} admin
        .qa-message-content
          Nunc ante neque, feugiat at dictum ut, dignissim sed sapien. Pellentesque congue eu nisl sit amet cursus. Integer dapibus adipiscing metus ac vehicula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fermentum iaculis mi, non dapibus nulla eleifend sed. Etiam ac commodo leo. Donec non sem id tellus mattis convallis. Morbi dapibus nulla ac dui lacinia,
