<!DOCTYPE html>
<html>
  <head>
    <title>Tweetalyzer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="/scripts/linkifyjs/linkify.min.js"></script>
    <script src="/scripts/linkifyjs/linkify-string.js"></script>
    <script src="/scripts/linkifyjs/linkify-jquery.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
